pipeline/CopywithIterationsForEach.json
{
	"name": "CopywithIterationsForEach",
	"properties": {
		"description": "Copy of product table",
		"activities": [
			{
				"name": "UntilActivity",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "LookupActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('LookupActivity').output,'2002-05-01 00:00:00.000')\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "p_ProductVar",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "LookupActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modifiedDate) as MaxDate from [SalesLT].[ProductCategory]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ProductCategory",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"UserName": {
				"type": "string"
			}
		},
		"variables": {
			"UserName": {
				"type": "String",
				"defaultValue": "1"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-07-24T09:20:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}